/* Error: expected "{".
 *   ,
 * 2 | @import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
 *   |                                                                                                                ^
 *   '
 *   Assets\Scss\style.scss 2:112  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a   \2577 \a 2 \2502  @import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");\d\a   \2502                                                                                                                 ^\a   \2575 \a   Assets\\Scss\\style.scss 2:112  root stylesheet';
}
